/* Palette: https://colors.muz.li/palette/454d66/309975/58b368/dad873/efeeb4 */
body {
    font-family: Athelas, 'jf蘭陽明體1.0', HanaMinB, serif !important;
    font-size: 20pt !important;
    line-height: 1.5em !important;
    letter-spacing: 0.03em !important;
    background: #efeeb4 !important;
    color: #454d66 !important;
    padding: 5% !important;
}

h1 {
    font-size: 2em !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
    color: #309975;
    margin-top: 1em !important;
}

p, li {
    text-align: justify;
}

.smaller {
    font-size: 0.75em;
    line-height: 1.5em;
}

#updated {
    position: relative;
    right: 0px;
    float: right;
}

h2 {
    font-size: 1.5em !important;
}

h3 {
    font-size: 1.2em !important;
}

.abcdori, .abcdori-table td {
    text-shadow: 2px 2px 15px #309975;
}

.imp {
    font-weight: bold;
    font-size: 150%;
    letter-spacing: 0.2em;
}